* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden !important;
  background: #000 !important;
  font-family: "Press Start 2P", system-ui;
  color: #fff;
}

/* полноценный экран всегда */
#viewport{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  background: #000 !important;
}

/* ВАЖНО: fixed, чтобы не зависеть от контейнеров платформы */
#scaleLayer{
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: top left;
  will-change: transform;
}

/* базовый мир */
.game{
  position: relative;
  width: 1024px;
  height: 576px;
  background: #000;
}

.stage{
  position: absolute;
  inset: 0;
  overflow: hidden;
  background: #000;
  z-index: 1;
}

/* HUD */
.hud{
  position:absolute;
  top:0; left:0; right:0;
  display:flex;
  align-items:center;
  padding:20px;
  gap: 20px;
  z-index: 10;
  pointer-events: none;
}

.hp{
  position: relative;
  width: 100%;
  height: 30px;
  border: 4px solid #fff;
}
.hp__base{ position:absolute; inset:0; background:#be123c; }
.hp__value{
  position:absolute;
  top:0; bottom:0;
  background:#818cf8;
  width:100%;
  transition: width 0.2s linear;
}
.hp--player .hp__value{ right:0; }
.hp--enemy  .hp__value{ left:0; }

.timer{
  width:100px;
  height:50px;
  border:4px solid #fff;
  background:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 25px;
  flex-shrink:0;
}

.result{
  position:absolute;
  inset:0;
  display:none;
  align-items:center;
  justify-content:center;
  font-size: 52px;
  z-index: 20;
  pointer-events: none;
  transform: translateZ(0);
  -webkit-font-smoothing: none;
  text-rendering: geometricPrecision;
}

/* Sprites */
.sprite, .fighter, .attackBox {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
}

.sprite > div,
.fighter > div {
  image-rendering: pixelated;
}

.attackBox{
  background: rgba(0, 255, 0, 0.45);
  display:none;
  z-index: 5;
}
.attackBox.active{ display:block; }

.result-overlay{
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 9999;
  pointer-events: none;

  
  font-size: clamp(28px, 5.5vw, 200px);


  
  -webkit-font-smoothing: none;
  text-rendering: geometricPrecision;
}
.fighter.blocking > div{
  filter: brightness(0.85) contrast(1.15);
}
.stage::after{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(255,255,255,0.15);
  pointer-events:none;
  z-index:2;
}
.fighter{
  z-index: 3;
}

